<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novatc.ap_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/transfer_512px"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apapp">
        <activity
            android:theme="@style/Theme.Apapp.NoActionBar"
            android:name="com.novatc.ap_app.activities.EditWGActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.Apapp.NoActionBar"
            android:name="com.novatc.ap_app.activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.Apapp.NoActionBar"
            android:name="com.novatc.ap_app.activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.novatc.ap_app.activities.EventsOverviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Apapp.NoActionBar" />
        <activity
            android:name="com.novatc.ap_app.activities.RoomsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Apapp.NoActionBar" />
        <activity
            android:name="com.novatc.ap_app.activities.SignInActicity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Apapp.NoActionBar">

        </activity>
        <activity
            android:name="com.novatc.ap_app.activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Apapp.NoActionBar" />
        <activity
            android:name="com.novatc.ap_app.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Apapp.NoActionBar" >
        </activity>
        <activity
            android:theme="@style/Theme.Apapp.NoActionBar"
            android:name="com.novatc.ap_app.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>